<section class="discount">
  <div class="container">
    <div class="discount__inner">
      <div class="discount__column">
        <picture>
          <source srcset="./img/discount/food.webp">
          <img class="discount__food" src="./img/discount/food.png" alt="food">
        </picture>
      </div>
      <div class="discount__content">
        <div class="discount__header">
          <h2 class="discount__title">Get a</h2>
          <h3 class="discount__title discount__title_font-weight">25% discount</h3>
          <h4 class="discount__title">on your next dinner</h4>
          <a class="discount__button" href="#">Click Here</a>
        </div>

        <div class="discount__description">
          <img class="discount__logo" src="./img/discount/logo.png" alt="logo">
          <div class="discount__text">
            <p>The Meat Experience</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>