<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__header">
        <a class="logo" href="#">
          <img class="logo__img" src="./img/header/logo.png" alt="logo">
        </a>
        <h3 class="footer__title">-The Meat Experience-</h3>
      </div>
      <div class="footer__row">
        <div class="section-column">
          <div class="section-column__title">open</div>
          <div class="section-column__body">
            <div class="footer__item">Mon.Thurs.: 12AM - 11PM</div>
            <div class="footer__item">Fri. - Sun.: 9AM -  12PM</div>
          </div>
        </div>
        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Home</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">About</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Blog</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Cookies</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Site Map</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom__address">
          Madison Street, 30 - City
        </div>
        <div class="footer-bottom__socials">
          <a class="footer-bottom__social" href="#">
            <svg class="footer-bottom__icon">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
          <a class="footer-bottom__social" href="#">
            <svg class="footer-bottom__icon">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a class="footer-bottom__social" href="#">
            <svg class="footer-bottom__icon">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
          <a class="footer-bottom__social" href="#">
            <svg class="footer-bottom__icon">
              <use xlink:href="#youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>