<section class="food-menu">
  <div class="container">
    <div class="food-menu__inner">
      <h2 class="food-menu__title">Menu</h2>
      <div class="food-menu__row">
        <div class="food-menu__column">
          <div class="food-menu__picture">
            <img class="food-menu__img" src="./img/menu/menu-1.png" alt="menu-food">
          </div>
          <div class="food-menu__content">
            <div class="section-column">
              <div class="section-column__title">chicken</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Chicken with salad</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">The Gold Chicken</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Checken whit sauce</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="section-column">
              <div class="section-column__title">slides</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Potato fries</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Mushrooms</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Roasted Brocoli</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="food-menu__column">
          <div class="food-menu__picture">
            <img class="food-menu__img" src="./img/menu/menu-2.png" alt="menu-food">
          </div>
          <div class="food-menu__content">
            <div class="section-column">
              <div class="section-column__title">beef</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Prime Steak</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Steak Beef</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Entrecote</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="section-column">
              <div class="section-column__title">drinks</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Soft Drink</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Beer</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Wine glass</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="food-menu__column">
          <div class="food-menu__picture">
            <img class="food-menu__img" src="./img/menu/menu-3.png" alt="menu-food">
          </div>
          <div class="food-menu__content">
            <div class="section-column">
              <div class="section-column__title">pork</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Pork Cheeks</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Iberian Special Cut</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Pork Chop</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="section-column">
              <div class="section-column__title">desserts</div>
              <div class="section-column__body">
                <ul class="food-menu__list">
                  <li class="food-menu__item">
                    <span class="food-menu__text">Cheesecake</span>
                    <span class="food-menu__text">6,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Tiramisu</span>
                    <span class="food-menu__text">11,00</span>
                  </li>
                  <li class="food-menu__item">
                    <span class="food-menu__text">Chocolate Mousse</span>
                    <span class="food-menu__text">8,00</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>