<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="./img/header/logo.png" alt="logo">
      </a>
      <button class="button-menu" data-button-menu>
        <span class="button-menu__line"></span>
      </button>
      <nav class="menu" data-menu>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Menu</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Specials</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Method</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>