<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="slider-wrapper">
        <div class="intro__slider" data-intro-slider>
          <div class="intro__item">
            <div class="section-column">
              <h3 class="section-column__title intro__title">opening party</h3>
              <div class="section-column__body intro__subtitle">
                <p>06/20/2020 - 7 P.M</p>
              </div>
            </div>
            <div class="intro__text">FOOD - MUSIC - FRIENDS - FUN</div>
          </div>
          <div class="intro__item">
            <div class="section-column">
              <h3 class="section-column__title intro__title">opening party</h3>
              <div class="section-column__body intro__subtitle">
                <p>06/20/2020 - 7 P.M</p>
              </div>
            </div>
            <div class="intro__text">FOOD - MUSIC - FRIENDS - FUN</div>
          </div>
          <div class="intro__item">
            <div class="section-column">
              <h3 class="section-column__title intro__title">opening party</h3>
              <div class="section-column__body intro__subtitle">
                <p>06/20/2020 - 7 P.M</p>
              </div>
            </div>
            <div class="intro__text">FOOD - MUSIC - FRIENDS - FUN</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__food intro__food_first">
    <img class="intro__img" src="./img/intro/food-1.png" alt="food">
  </div>
  <div class="intro__food intro__food_second">
    <img class="intro__img" src="./img/intro/food-2.png" alt="food">
  </div>
</section>