<section class="method">
  <div class="method__picture">
    <img class="method__img" src="./img/method/food.png" alt="food">
  </div>
  <div class="container">
    <div class="method__inner">
      <div class="method__column">
        <div class="method__food">
          <img class="method__img" src="./img/method/food.png" alt="food">
        </div>
      </div>
      <div class="method__content">
        <div class="section-column">
          <h3 class="section-column__title">Our Method</h3>
          <div class="section-column__body">
            <div class="method__text">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet pariatur corrupti, voluptas cupiditate tempora nulla dignissimos dolorum molestiae magni quibusdam iure nihil labore culpa amet, hic a libero dolores ducimus?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>