<section class="music">
  <div class="container">
    <div class="music__inner">
      <div class="music__row">
        <div class="music__column">
          <div class="section-column">
            <div class="section-column__title">live music</div>
            <div class="section-column__body">
              <h4 class="music__title">Jazz Night</h4>
              <h5 class="music__subtitle">Every Friday</h5>
            </div>
          </div>
        </div>
        <div class="music__column">
          <div class="music__text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat atque, sed ea maxime unde fugiat quia, doloremque illum cumque quod inventore dicta. Quia nesciunt necessitatibus cupiditate, itaque ad repellendus incidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="music__picture">
    <img class="music__food" src="./img/music/food.png" alt="food">
  </div>
</section>