<section class="special-month">
  <div class="container">
    <div class="special-month__inner">
      <div class="special-month__row">
        <div class="special-month__column">
          <div class="section-column">
            <h3 class="section-column__title">special of the month</h3>
            <div class="section-column__body">Lorem ipsum dolor sit.</div>
          </div>
        </div>
        <div class="special-month__column">
          <div class="special-month__text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo laborum animi nostrum aperiam voluptatem, quibusdam perspiciatis debitis hic voluptatum, ipsa ipsam eaque! Laboriosam deleniti consequatur vel est enim accusantium quas rerum? Numquam natus aperiam totam tempore sapiente reiciendis dicta magnam.</p>
          </div>
        </div>
      </div>
      <div class="special-month__images">
        <div class="special-month__picture special-month__picture_first">
          <img class="special-month__food" src="./img/special/food.png" alt="food">
        </div>
        <div class="special-month__picture special-month__picture_second">
          <img class="special-month__food" src="./img/special/fork.png" alt="food">
        </div>
        <div class="special-month__picture special-month__picture_third">
          <img class="special-month__food" src="./img/special/food-2.png" alt="food">
        </div>
      </div>
    </div>
  </div>
</section>